# 1. Jupyter Interface 

While most menus in the Jupyter notebook interface may look familiar as a word-processing program, two of them might be new: cell and kernel. Let's look at what they are. 

A cell is a container for text to be displayed in the notebook or code to be executed. There are two types of cells: markdown cells and code cells.

## 1.1 Markdown cells
Markdown is a lightweight, easy to learn markup language (similar to HTML) for formatting plain text. A Markdown cell contains text formatted using Markdown and displays its output *in-place* when it is run.

1. You can add headings by starting a line with one (or multiple) # followed by a space, as in the following example:
2. Use *to create italic font*.
3. Use **to create bold font**

### Example: My First Jupyter Notework
Hello world!
*italic font*. Note that there is no space after * or **
**bold font**

List or numbered list (there needs to be a space after * for lists)
* Sometimes we want to include lists.
* Which can be indented.


1. Numbered list.
2. Numbered list again.


To include inline python code in markdown cells and highlight it, uses single backticks. It will have the effect of shading around the code

`print("Python")`

`import numpy as np`

If it is a block of codes, use triple backticks:
```
x = np.random.randint(1, 10)
y = square(x)
print('%d squared is %d' % (x, y))
```

## 1.2. Code Cells
A code cell contains code to be executed in the kernel and displays its output below. The first cell in a new notebook is always a code cell. 

After writing your code, click the run button in the toolbar above or press Ctrl + Enter to run the cell.

## 1.3. Kernel
To interrupt a calculation which is taking too long, use the Kernel, Interrupt menu option.

Restart: restarts the kernel, thus clearing all the variables etc that were defined.

Restart & Clear Output: same as above but will also wipe the output displayed below your code cells.

Restart & Run All: same as above but will also run all your cells in order from first to last.

## 1.4. Save and Exist a Notebook
Pressing Ctrl + S will save your notebook, or click the “Save and Checkpoint” command under the "File" tab in the menu.

Select “File > Close and Halt” from the "File" tab in the menu to close a notebook.

add my own notes.....

## 1.5 Some Keyboard Shortcuts

* Run a cell with Ctrl + Enter
* Run a cell and add a cell below with Alt + Enter
* Toggle between edit and command mode with Esc and Enter, respectively.

Once in command mode:
* Scroll up and down your cells with your Up and Down keys.
* Press A or B to insert a new cell above or below the active cell.
* M will transform the active cell to a Markdown cell.
* Y will set the active cell to a code cell.
* D + D (D twice) will delete the active cell.
* Z will undo cell deletion.
* Hold Shift and press Up or Down to select multiple cells at once.
* With multiple cells selected, Shift + M will merge your selection.

* Ctrl + Shift + -, in edit mode, will split the active cell at the cursor.

# 2. Simple Data Types

## 2.1. Integer, Float and String
1. **integer**, python type name: **int**,  e.g., 10
2. **floating point numbers**, python type name: **float**, e.g., 4.2
3. **strings**, python type name: **str**, e.g., 'book', "Hello World!".
   
Tips about strings:
a. If you want to include either single quotes or double quotes within the string, the simplest way is to delimit the string with the other type.

b. Enclose string literals in triple quotes (either """ or '''). Triple-quoted strings can contain both single quotes and double quotes as part of the string.

## 2.2. Basic Data Operations and Functions 

+: addition, -: subtraction, * : multiplication, /: division <br>
//: integer devision. Divides one number by another and gives the result as a whole number <br>
%: remainder. Divides one number by another and gives the remainder <br>
** : Exponent. Raises a number to a power

`print()`: print nummbers or strings <br>
`type()`: show the type of a data value  <br>
`int()`: Returns the integer object from a float or a string containing digits.<br>
`str()`: Return the string object from another type of data
`float()`: Returns a floating-point number object from a number or string containing digits with decimal point or scientific notation. <br>
`abs()`: Returns the absolute value of a number without considering its sign.
`round()`: Returns the rounded number.

In [1]:
4*9

36

In [2]:
10/3

3.3333333333333335

In [3]:
10//3

3

In [4]:
type(9)

int

In [7]:
int(4.6)

4

In [8]:
round(4.6)

5

In [9]:
#this cell execute the absolution function
abs(-4.5)

4.5

# 3. Programming Basics

## 3.1. Comments 
Comments are short notes placed in different parts of a program, explaining how those parts of the program work. They are ignored by the Python interpreter.

## 3.2. Variables
A variable is a name that represents a value stored in the computer’s memory. 

Variable Naming Rules:<br>
 1. You cannot use one of Python’s key words as a variable name. 
 2. A variable name cannot contain spaces.
 3. The first character must be one of the letters a through z, A through Z, or an underscore character (_). The following characters can be numbers
 4. Case sensitive: ItemsOrdered is not the same as itemsordered.
 5. Common to use underscore to represent a space: warehouse_space, WarehouseSpace, supplier_capacity

In [10]:
age = 25

In [13]:
type(age)

float

In [12]:
age=25.6

In [15]:
age = age + 3
age

31.6

## 3.3. Input 
The built-in function `input()` reads data that has been typed on the keyboard. Usually it stores that data in a variable so it can be used later by the program.

In [16]:
name = input("Type your name:")

Type your name:Min

In [17]:
name

'Min'

In [18]:
print('My name is', name)

My name is Min

## 3.4. Output
Below are a list of formats you can use with `print()`.
* Python’s `print()` function comes with a parameter called ‘end’. By default, the value of this parameter is ‘\n’, i.e. the new line character. You can end a print statement with any character/string using this parameter.
*  \n Causes output to be advanced to the next line.
*  \t Causes output to skip over to the next horizontal tab position.
* `\\` Print a backslash character 
* %: special operator to format string output. The syntax is 
```<format_string that includes %<format specifier>>  %<values>```. Thus, it takes two operands: a specific format and a value. 
    * %s Converts to a string using the str() function
    * %e Converts to a floating point in exponential notation
    * %f Converts to a floating point in fixed-decimal notation
    * %. a dot (.) followed by a positive integer specifying the precision. 
    * %% print the % character
    * `%<integer><format>` specifies the width for the value by adding spaces before (if the width integer is positive) or after (if the width integer is negative)

In [23]:
11%3

2

In [24]:
LargeNumber = 450000
print('%e is a large number'%LargeNumber)

4.500000e+05 is a large number

In [25]:
print('%.1e is a large number'%LargeNumber)

4.5e+05 is a large number

In [26]:
f = 8.43567
print('%.2f is a real number'%f)

8.44 is a real number

In [27]:
x = 3.224
y = x**2
print('%s sqaured is %.3f'%(x,y))

3.224 sqaured is 10.394

In [19]:
print('A')
print('B')

A
B

In [20]:
print('Hello World!', end=";") 
print('Hello World!')

Hello World!;Hello World!

In [21]:
print('Hello\tWorld')

Hello	World

In [22]:
print('Hello\nWorld')

Hello
World

In [29]:
print('four')

four

In [28]:
print('%8s'%'four')

    four

In [30]:
print('%-8s'%'four')

four

## 3.5. Boolean Logic and if-else Statement
The if statement is used to create a decision structure, which allows a program to have more than one path of execution. The if statement causes one or more statements to execute only when a Boolean expression is true. 

Boolean logic: >, <, >=, <=, == (equal to), != (not equal to) <br>
Logic operators
1. **and**: The and operator connects two Boolean expressions into one compound expression. Both subexpressions must be true for the compound expression to be true. e.g., (x >= 20) and (x <= 40)
2. **or**: One or both subexpressions must be true for the compound expression to be true. It is only necessary for one of the subexpressions to be true, and it does not matter which. E.g., (x<20) or (x>40)
3. **not**: reverses the truth of its operand. If it is applied to an expression that is false, the operator returns true. E.g., not (a > 2)


if-else statement: <br>
```
if sales >= 50000:
    commission = sales * 0.12 
    print('You met your sales quota!\nYour commission is $%.2f'%commission)
else:
    print('Sales quota is not met.')
```

In [32]:
sales=float(input('Your annual sales:'))
if sales >= 50000: 
    commission = sales * 0.12 
    print('You met your sales quota!\nYour commission is $%.2f'%commission )
else:
    print('Sales quota is not met.')

Your annual sales:4000
Sales quota is not met.

In [34]:
number = int(input("Enter the numeric grade: ")) 
if number > 89: 
    letter = 'A' 
elif number > 79: 
    letter = 'B' 
elif number > 69: 
    letter = 'C' 
else: 
    letter = 'F' 
print("The letter grade is", letter)

Enter the numeric grade: 60
The letter grade is F

## 3.6. The `For` Loop
Control  statements with repetition statements are known as loops. Loops repeat actions. Each repetition of the action is known as a pass or an iteration.

The function `range(start, stop, step)` generates a series of numbers within a given range from start to stop **(not including stop)** with an increment equal to step.

```
for <variable> in range(<integer>):
    <statement 1>
    <statement 2>
    ...
    <statement n>
    ```

In [39]:
for i in range(1,5,2):
    print(i)

1
3

In [ ]:
#print the power of 2 for numbers from 0 to 4
for number in range(5):
    print('%i squared is %i\n'%(number,number**2))

In [41]:
product = 1
for x in range(1,5): 
    #product = product * x
    product*=x
print('The result is', product)

The result is 24

Expressions such as x = x + 1 or x = x * 2 occur so frequently in loops that Python includes abbreviated forms for them.  augmented assignment operations. 
`<variable> <operator>=<expression>` is equivalent to `<variable> = <variable> <operator> <expression>`

a = 17  
a += 3  Equivalent to a = a + 3 <br>
a -= 3  Equivalent to a = a - 3 <br>
a *= 3  Equivalent to a = a * 3<br>
a /= 3  Equivalent to a = a / 3<br>
a %= 3   Equivalent to a = a % 3

## Case study: An Investment Report

#### Request: Write a program that computes an investment report.
#### Analysis: <br>
The inputs to this program are the following:

1. An initial amount to be invested (a floating-point number) 
2. A period of years (an integer) 
3. An interest rate (a percentage expressed as an integer)

The program uses a simplified form of compound interest, in which the interest is computed once each year and added to the total amount invested. The output of the program is a report in tabular form that shows, for each year in the term of the investment, the year number, the initial balance in the account for that year, the interest earned for that year, and the ending balance for that year. The columns of the table are suitably labeled with a header in the first row. Following the output of the table, the program prints the total amount of the investment balance and the total amount of interest earned for the period. The proposed user interface is shown below.


Enter the investment amount: 10000.00 <br>
Enter the number of years: 5<br>
Enter the rate as a %: 5  <br>

Year &nbsp;&nbsp;&nbsp;&nbsp;Starting balance &nbsp;&nbsp;&nbsp;&nbsp; Interest  &nbsp;&nbsp;&nbsp;&nbsp;Ending balance <br>
 1	 &nbsp;&emsp;&emsp;&emsp;10000.00  &nbsp;&emsp;&emsp;&emsp;    500.00    &nbsp;&emsp;&emsp;&emsp; 10500.00<br>
 2	  &nbsp;&emsp;&emsp;&emsp;10500.00   &nbsp;&emsp;&emsp;&emsp;   525.003	 &emsp;&emsp;&emsp; 11025.00 <br>
 3     &nbsp;&emsp;&emsp;&emsp;  11025.00     &nbsp;&emsp;&emsp;&emsp; 551.25  &nbsp;&emsp;&emsp;&emsp;   11576.25<br>
 4	   &nbsp;&emsp;&emsp;&emsp;  11576.25    &nbsp;&emsp;&emsp;&emsp;  578.815	 &emsp;&emsp;&emsp; 12155.06<br>
 5     &nbsp;&emsp;&emsp;&emsp; 12155.06     &nbsp;&emsp;&emsp;&emsp; 607.75  &nbsp;&emsp;&emsp;&emsp;   12762.82 <br>
   

Ending balance: $12762.82 

Total interest earned: $2762.82

In [11]:
# Sample code for the case analysis

# Accept the inputs 
startBalance = float(input("Enter the investment amount: ")) 
years = int(input("Enter the number of years: ")) 
rate = int(input("Enter the rate as a %: ")) 

# Convert the rate to a decimal number 
rate = rate / 100 

# Initialize the accumulator for the interest 
totalInterest = 0.0 

# Display the header for the table 
print("%4s%18s%10s%16s" %  ("Year", "Starting balance", "Interest", "Ending balance")) 

# Compute and display the results for each year 
for year in range(1, years + 1): 
    interest = startBalance * rate 
    endBalance = startBalance + interest 
    print("%4d%18.2f%10.2f%16.2f" %  (year, startBalance, interest, endBalance)) 
    startBalance = endBalance 
    totalInterest += interest
    
# Display the totals for the period
print("Ending balance: $%0.2f" % endBalance) 
print("Total interest earned: $%0.2f" % totalInterest)

Enter the investment amount: 5000
Enter the number of years: 6
Enter the rate as a %: 2
Year  Starting balance  Interest  Ending balance
   1           5000.00    100.00         5100.00
   2           5100.00    102.00         5202.00
   3           5202.00    104.04         5306.04
   4           5306.04    106.12         5412.16
   5           5412.16    108.24         5520.40
   6           5520.40    110.41         5630.81
Ending balance: $5630.81
Total interest earned: $630.81

# 4. Compound Data Types
## 4.1. list
* A list is an object that contains multiple data items enclosed in square brakets. 
* Lists are mutable, which means that their contents can be changed during a program’s execution. 
* Lists are dynamic data structures, meaning that items may be added to them or removed from them.

In [ ]:
["apples", "oranges", "cherries"]

In [ ]:
prod_nums = ['V475', 'F987', 'Q143', 'R688']

In [44]:
sales_by_month = [250, 180, 360, 340]

In [ ]:
#list as elements
sales_by_season = [[250, 180, 360], [340, 450, 250],[180, 230, 320], [550, 360, 190]]

### 4.1.1. Functions Related to Lists

1. `list()` function: converts objects into a list
2. `len(list)` function: return the number of elements in a list
3. `list[i]` function: access the element in the i-th position, **i=0,...,`len(list)`-1**.
4. `list[<start>,<end>,<step>]` function: return a sublist with elements from start to end (not including the end position) with an increment equal to step.

In [45]:
len(sales_by_month)

4

In [49]:
sales_by_month[1] = 230
sales_by_month

[250, 230, 360, 340]

In [50]:
sales_by_month[1:3]

[230, 360]

In [3]:
#use list() and range() to create lists
a = list(range(2, 20))
a

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [20]:
a = list(range(2, 20, 2))
a

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [23]:
a[2:6] #note the stopping position is excluded

[6, 8, 10, 12]

In [16]:
a[2:6:2]

[6, 10]

### 4.1.2. List Operations
1. L1 + L2: List concatenation. Returns a new list consisting of the elements of the two operands.
2. `<any value> in L`:  Returns True if the value is in the list or False otherwise.
3. `for <variable> in L: <statement>` for loop to iterate through the list

In [51]:
#joining two lists
sales_by_month = [250, 180, 360, 340]
sales_new = [99, 100, 101, 102] 
sales_by_month +=  sales_new
sales_by_month

[250, 180, 360, 340, 99, 100, 101, 102]

In [53]:
#use in function to find items in a list
prod_nums = ['V475', 'F987', 'Q143', 'R688']
search = input('Enter a product number: ')
if search in prod_nums:
    print("We found the product")
else:
    print("Product is not found")

Enter a product number: F987
We found the product

In [52]:
#for loop on a list
print('Month \t','Sales')
i=1
for x in sales_by_month:
    print(i,'\t', x)
    i=i+1

Month 	 Sales
1 	 250
2 	 180
3 	 360
4 	 340
5 	 99
6 	 100
7 	 101
8 	 102

### 4.1.3. List Methods 
A method in python is similar to a function, except it is associated with object/classes. Unlike a function, methods are called on an object by `Object.method()`. 
1. Use Tab key followed by `object.` to list all methods associated with the object. 
2. Use `Object.method()?` to show the key information about the method

**Some methods for  list objects**

* L.append(element): Adds element to the end of L.
* L.insert(index, element): Inserts element at index if index is less than the length of L. Otherwise, inserts element at the end of L.
* L.pop(): Removes and returns the element at the end of L. 
* L.pop(index): Removes and returns the element at index.
* L.remove(element): Remove an element from the list
* L.sort():  Arrangs the list's elements in ascending order.
* L.copy(aList): make a copy of a list

In [15]:
A = list(range(1,6))
A

[1, 2, 3, 4, 5]

In [16]:
# .append() method to add elements to the end
A.append(30)
A

[1, 2, 3, 4, 5, 30]

In [17]:
# .pop() removes the last element
A.pop()
A

[1, 2, 3, 4, 5]

In [18]:
A.pop(3) # remove the element at position 3
A

[1, 2, 3, 5]

In [19]:
A.remove(2) # find the element 2 and remove it from the list
A

[1, 3, 5]

In [4]:
# .insert() adds an element to a specific position
A.insert(3, 20)
A

[1, 2, 3, 20, 4, 5]

In [5]:
# .sort() to sort the elements in a list
A.sort()
A

[1, 2, 3, 4, 5, 20]

### A note about making list copies
If A ist list, "B=A" will make a copy of the list A. However, it will produce an alias only, meaning that B refers to the same list object. When you change list A, the value of B will be changed too.

In order to make a real copy of a list that is independent from the original, use A.copy()

In [6]:
A = list(range(1,6))
B = A
C = A.copy()
A[-1] = 20 # change the last element in A to 20
print('B=', B) # the output will show that B has been changed too
print('C=', C) # the list C remains the same

B= [1, 2, 3, 4, 20]
C= [1, 2, 3, 4, 5]

### 4.1.4. List Comprehension
List comprehensions provide a concise way to create lists instead of using `for` loops.

An example using `for` loop:
```
squares = []
for i in range(10):
     squares.append(i * i)
squares
```
The same example with list comprehension:<br>
`squares = [i * i for i in range(10)]`.

It also applies when `if` statement is involved.
```
even = []
for i in range(10):
     if i%2 == 0:
          even.append(i)
even
```
We can write `even=[i for i in range(10) if i%2==0]`

In [ ]:
even=[i for i in range(10) if i%2==0]
even

In [13]:
#cross adding all numbers from one list to the list
[x+y for x in [10,30,50] for y in [20,40,60]]

[30, 50, 70, 50, 70, 90, 70, 90, 110]

In [14]:
A = [0,10,30,50, 60] 
B = [0,20,40,60]
# find the common numbers in A and B
common_num = [x for x in A for y in B if x==y ] 
print('These numbers are both in A and B', common_num)

These numbers are both in A and B [0, 60]

## 4.2. Tuples
A tuple is a type of sequence that resembles a list, except that, unlike a list, a tuple is immutable (can't be changed). A tuple literal in Python is enclosed in parentheses.

In [ ]:
warehouse=('Chicago','Philadelphia','San Jose')

## 4.3. Dictionary 
Dictionaries are Python’s implementation of a data structure that is more generally known as an associative array. A dictionary consists of a collection of key-value pairs (entries). Each key-value pair maps the key to its associated value.

A dictionary in Python is a comma-separated list of key-value pairs in curly braces {}. A colon (:) separates each key from its associated value:
```
d = {<key>: <value>,<key>: <value>,..., <key>:<value>}
```

In [ ]:
tel = {"Savannah":"476-3321", "Nathaniel":"351-7743"}

In [54]:
info = {'name': 'Molly', 'age': 25}

In [55]:
info['job'] = "Analyst"
info

{'name': 'Molly', 'age': 25, 'job': 'Analyst'}

In [56]:
info['name']='Sally'
info

{'name': 'Sally', 'age': 25, 'job': 'Analyst'}

### 4.3.1. Common Dictionary Operations

* `d[<key>]`: Used for inserting a new key, replacing a value, or obtaining a value at an existing key. 
*  `d.pop(key [, default])` removes the key and returns the value if the key exists or returns the default if the key does not exist. Raises an error if the default is omitted and the key does not exist.
* Use `for` and `in` operators to traverse a dictionary.

In [57]:
info.pop('name')
info

{'age': 25, 'job': 'Analyst'}

In [8]:
# traverse a dictionary
for key in info:
    print(key,':', info[key])

name : Molly
age : 25
occupation : SC Analyst

### 4.3.2. Other Dictionary Operations

* `len(d)`: Returns the number of entries in d.
* `d.get(key [, default])`: Returns the value if the key exists or returns the default if the key does not exist. Raises an error if the default is omitted and the key does not exist.
* `list(d.keys())`: Returns a list of the keys.
* `list(d.values())`:Returns a list of the values. 
* `d.clear()`: Removes all entries from a dictionary.

In [58]:
list(info.keys())

['age', 'job']

In [59]:
list(info.values())

[25, 'Analyst']

In [60]:
info.clear()
info

{}