# Looping - Iterables, Collections, Sequences

```python
for element in iterable:
    do_something()
```

## If `iterable` is a list, `element` is a member of that list.

In [1]:
L = [1, 2, 3]
for i in L:
    print(i)

1
2
3

## If `iterable` is a dictionary, `element` is a key of that dictionary.

In [3]:
D = {'name': 'Jaidev', 'age': 32, 'sex': 'M'}
for element in D:
    print(element)

name
age
sex

## If `iterable` is a string, `element` is a character of that string.

In [5]:
S = "springboard"
for i in S:
    print(i)

s
p
r
i
n
g
b
o
a
r
d

### Debugging Tip: What if we don't know what iteration yields?

In [7]:
import numpy as np
import pandas as pd

X = np.random.rand(5, 3)
df = pd.DataFrame(X, columns=['col1', 'col2', 'col3'])

### What is the element if iterable is a NumPy array?

In [8]:
for elem in X:
    break

In [9]:
elem

array([0.38140528, 0.64856178, 0.42145381])

In [10]:
X

array([[0.38140528, 0.64856178, 0.42145381],
       [0.04798576, 0.90169354, 0.58293792],
       [0.1504526 , 0.16236161, 0.68829549],
       [0.80653812, 0.90500735, 0.27851897],
       [0.04421477, 0.86277243, 0.38974084]])

### What is the element if iterable is a Pandas dataframe?

In [12]:
for elem in df:
    break

In [13]:
elem

'col1'

In [14]:
df

       col1      col2      col3
0  0.381405  0.648562  0.421454
1  0.047986  0.901694  0.582938
2  0.150453  0.162362  0.688295
3  0.806538  0.905007  0.278519
4  0.044215  0.862772  0.389741

### `break` and `continue` statements

In [15]:
data = [
    {"name": "Alice", "age": 20},
    {"name": "Bob", "age": 25},
    {"name": "Carol", "age": 41},
    {"name": "Dave", "age": 30},
]

### E.g: Find Carol's age

In [18]:
for k in data:
    if k['name'] == 'Carol':
        break
print(k['age'])

41

### E.g: Find the names of people older than 27 years

In [19]:
for k in data:
    if k['age'] <= 27:
        continue
    else:
        print(k['name'])

Carol
Dave

## Nested Loops
### E.g. Print `data` as a table

In [20]:
for record in data:
    row = []
    for key in record:
        row.append(record[key])
    print(row)

['Alice', 20]
['Bob', 25]
['Carol', 41]
['Dave', 30]

## `while` loops

```python
while condition:
    do_something()
```

In [21]:
import random

In [22]:
password = random.randint(0, 100)

In [25]:
guess = 0
password_unknown = True

while password_unknown:
    if guess == password:
        password_unknown = False
    else:
        guess += 1

print(guess)

8

### `while` with `break`

In [26]:
password = random.randint(0, 100)

guess = 0
while True:
    if guess == password:
        break
    guess += 1

print(guess)

74